.Planche.DisabledUp
{
	top : -50px;
	-webkit-animation: DisablePlanche ease-in 1 forwards;
	-moz-animation: DisablePlanche ease-in 1 forwards;
	-o-animation: DisablePlanche ease-in 1 forwards;
	animation: DisablePlanche ease-in 1 forwards;
}
.Planche.DisabledUpM
{
	-webkit-animation: DisablePlanche ease-in 1 forwards;
	-moz-animation: DisablePlanche ease-in 1 forwards;
	-o-animation: DisablePlanche ease-in 1 forwards;
	animation: DisablePlanche ease-in 1 forwards;
}
.Planche.EnabledDown
{
	top : -50px;
	-webkit-animation: DisablePlanche ease-in 1 reverse;
	-moz-animation: DisablePlanche ease-in 1 reverse;
	-o-animation: DisablePlanche ease-in 1 reverse;
	animation: DisablePlanche ease-in 1 reverse;
}
.Planche.EnabledUp
{
	-webkit-animation: EnablePlanche ease-in 1 forwards;
	-moz-animation: EnablePlanche ease-in 1 forwards;
	-o-animation: EnablePlanche ease-in 1 forwards;
	animation: EnablePlanche ease-in 1 forwards;
}

.Planche.DisabledDown
{
	-webkit-animation: EnablePlanche ease-in 1 reverse;
	-moz-animation: EnablePlanche ease-in 1 reverse;
	-o-animation: EnablePlanche ease-in 1 reverse;
	animation: EnablePlanche ease-in  reverse;
}
.Planche.DisabledDownM
{
	-webkit-animation: DisablePlanche ease-in 1 reverse;
	-moz-animation: DisablePlanche ease-in 1 reverse;
	-o-animation: DisablePlanche ease-in 1 reverse;
	animation: DisablePlanche ease-in 1 reverse;
}

.Preview
{
	opacity :1;
}
.Preview.EnabledUp,.Preview.EnabledDown,.Preview.DisabledUp,.Preview.DisabledUpM
{
	opacity:0;
}
.Preview.EnabledUp,.Preview.DisabledUpM
{
	-webkit-animation: Apparition 0.5s ease-in 1 reverse;	
	-moz-animation: Apparition 0.5s ease-in 1 reverse;	
	-o-animation: Apparition 0.5s ease-in 1 reverse;	
	animation: Apparition 0.5s ease-in 1 reverse;	
}
.Preview.DisabledDown,.Preview.DisabledDownM
{
	-webkit-animation: Apparition 0.5s ease-in 1 forwards;	
	-moz-animation: Apparition 0.5s ease-in 1 forwards;	
	-o-animation: Apparition 0.5s ease-in 1 forwards;		
	animation: Apparition 0.5s ease-in 1 forwards;
}
/* Normal */
@keyframes DisablePlanche {
	from {}
	to { top: -100%; }
}
@keyframes EnablePlanche {
	from {}
	to { top: -50px; }
}
@keyframes Apparition {
	from {opacity :0;}
	to { opacity: 1; }
}
/* Webkit */
@-webkit-keyframes DisablePlanche {
	from {}
	to { top: -100%; }
}
@-webkit-keyframes EnablePlanche {
	from {}
	to { top: -50px; }
}
@-webkit-keyframes Apparition {
	from {opacity :0;}
	to { opacity: 1; }
}
/* Mozilla */
@-moz-keyframes DisablePlanche {
	from {}
	to { top: -100%; }
}
@-moz-keyframes EnablePlanche {
	from {}
	to { top: -50px; }
}
@-moz-keyframes Apparition {
	from {opacity :0;}
	to { opacity: 1; }
}
/* Opera */
@-o-keyframes DisablePlanche {
	from {}
	to { top: -100%; }
}
@-o-keyframes EnablePlanche {
	from {}
	to { top: -50px; }
}
@-o-keyframes Apparition {
	from {opacity :0;}
	to { opacity: 1; }
}