/*------ RESET ------ */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body
{
	height : 100%;
	width:100%;
	overflow : hidden;
	text-align: center;
	font-size: 20px;	
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	 line-height: 1.49;
}
*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
	color: inherit;
}
input,a.Button
{
	border-radius : 2px;
	outline : none;
    border: 5px solid;
}
fieldset
{
	border:none;
}

ul,li
{
	margin:0;
	padding: 0;	
	list-style: none;
	text-align:left;
}
form>fieldset>ul>li
{
	margin-top:5px;
	margin-bottom:5px;
}
p
{
	margin-top: 0.5em;
}
@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('./Fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}

@font-face {
    font-family: 'JennaSue';
    src: url('./Fonts/JennaSue.ttf');
}
#Principal
{
	width : 100%;
	height : 100%;
	position : relative;
	overflow-y : hidden;
}
#Boutons
{
	position : absolute;
	top : 110px;
	right : 200px;
}
#Boutons ul>li
{
	display:inline-block;
	height:inherit;
}
#Research
{
	position : absolute;
	top : 110px;
	left : 200px;
	width: 50%;
    max-width: 300px;
}
#Research>div
{
	width:100%;
	height:100%;
	position:relative
}
#Research>div>div
{
	position:absolute;
	bottom:0;
	height : 80%;
}
#Research>div>div>img
{
	height:100%;
}
#Research input[type=text]
{
	width : 100%;
	padding:5px;
	padding-left:20%;
}

#Connexion,#Inscription
{
	width : 100%;
	max-width : 800px;
	text-align:center;
}
#Connexion ul,#Connexion ul>li ,#Inscription ul,#Inscription ul>li 
{
	text-align:inherit;
}
#Connexion ul>li ,#Inscription ul>li 
{
	margin-top:0px;
	margin-bottom:0px;
}
#Connexion input,#Inscription input
{
	padding:10px;
	width : 100%;
	max-width : 300px;
}
#Connexion input[type=text],#Inscription input[type="text"],
#Connexion input[type=password],#Inscription input[type="password"]
{
	border-bottom: 2px solid;
}
#P_Boutons
{
	position : absolute;
	left:200px;
	z-index:2;
}
#P_1
{
	z-index:3;
}
#P_0 >.Container>img
{
	width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    min-width: 75px;
    min-height: 75px;

}
#P_0 >.Container>a
{
	padding : 2px;
}
#container
{
	width: 100%;
    max-width: 500px;
}
#Book_Container
{
	width: 100%;
    padding: 50px;
}
#book
{
	margin : 0 auto;
}
.Planche
{
	width : 100%;
	height: 100%;
	padding : 100px;
	padding-left:190px;
	padding-right:190px;
	overflow-y : hidden;
	position : absolute;
	top:0%;
	z-index:1;
}

.Planche.Last
{
	padding-bottom:50px;
}
.Planche > .Container
{
	margin-top : 0px;
	position : relative;
	height : 100%;
}
.Planche >.Container>div>p
{
	width: 100%;
    max-width: 750px;

}

.Planche >  .Container > .Logo
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-bottom: 0px;
    width: 15%;
    height: 25%;
    max-width: 250px;
    max-height: 250px;
    min-width: 75px;
    min-height: 75px;
}
.Planche > .Container > .Preview
{
	bottom :-50px;
	height:50px;
	position : absolute;
	width : 100%;
	line-height: 2.2em;
}

/* Ne concerne que la dernière planche */

.Planche.Last > .Container
{
	margin-top : 0px;
}
.Planche.Last>  .Container > .Logo
{    
    margin-bottom: 0px;
}
.Planche.Last > .Container > .Preview
{
	bottom :0;
}
.Nav
{
	width: 7%;
    max-width: 100px;
    min-width: 25px;
}
.Nav li
{
	height: 75px;
}
.Nav li>input
{
	border:none;
	width : 100%
}
.Preview
{
	font-weight:bold;
}
.Interface
{
	z-index:4;
}
.wowbook-page-content.content
{
	font-size: 0.8em;
}
.wowbook-page-content.content>p,.wowbook-page-content.content>h2,.wowbook-page-content.content>h3
{
	width:90%;
	padding-left:10%;
	font-family: 'Stempel-Garamond-W01-Roman';
}
.wowbook-page-content.content>p
{
	padding-top : 1em;
}
.wowbook-page-content.content  .DateFont
{
	font-family: 'JennaSue';
	font-size : 1.5em;
}
.wowbook-page-content.content>p>img
{
	display: block;
    max-width: 90%;
    max-height: 300px;
    width: auto;
    height: auto;
	margin : 0 auto;
}
/* Plugins */
.picker__select--month, .picker__select--year
 {    
    height: inherit;
}

.Top_0
{
	position : absolute;
	top:0%;
}
.Top_10
{
	position : absolute;
	top:10%;
}
.Bottom_0
{
	position : absolute;
	bottom:0%;
}
.Bottom_10px
{
	position : absolute;
	bottom:10px;
}
.Left_0
{
	position : absolute;
	left:0%;
}
.Left_10
{
	position : absolute;
	left:10%;
}
.Left_20
{
	position : absolute;
	left:20%;
}
.Right_0
{
	position : absolute;
	right:0%;
}
.Right_20
{
	position : absolute;
	right:20%;
}
.Center, .CenterX
{
	position:absolute;
	left : 50%;
}
.Center, .CenterY
{
	position:absolute;
	top : 50%;
}
.left
{
	text-align:left;
}
.Bold
{
	font-weight:bold;
}
