/*------ RESET ------ */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body
{
	height : 100%;
	width:100%;
	overflow : hidden;
	text-align: center;
	font-size: 20px;	
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	 line-height: 1.49;
}
*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

h1
{
	font-size:3.5em;
	margin: 0;
	padding: 0;
	border: 0;
}
h2
{
	font-size : 2.5em;
}
h3
{
	font-size:1em;
	font-weight:normal;
}
a
{
	text-decoration: none;
	color: inherit;
}
input,a.Button
{
	border-radius : 2px;
	outline : none;
    border: 5px solid;
}
fieldset
{
	border:none;
}

ul,li
{
	margin:0;
	padding: 0;	
	list-style: none;
	text-align:left;
}
form>fieldset>ul>li
{
	margin-top:5px;
	margin-bottom:5px;
}
p
{
	margin-top: 0.5em;
}
@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('./Fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}

@font-face {
    font-family: 'JennaSue';
    src: url('./Fonts/JennaSue.ttf');
}
#Principal
{
	width : 100%;
	height : 100%;
	position : relative;
	overflow-y : hidden;
}
#Spinner
{
	width:100%;
	height:100%;
	z-index:100;
	position:absolute;
}
#Spinner.Disabled
{
	display:none;
}
#ChampsUp
{
	margin:0 auto;
	position:relative;
	width:100%;
	min-width:800px;
	max-width:1200px;
	height:100%;
}
#Boutons
{
	position : absolute;
	top : 10px;
	right : 10px;
}
#Boutons input,#Research input,#Boutons a.Button,#Research a.Button
{
	font-size:0.8em;
	width:120px;
}
#Boutons ul>li
{
	display:inline-block;
	height:inherit;
}
#Research
{
	position : absolute;
	top : 10px;
	left : 10px;
	width: 50%;
    max-width: 300px;
}
#Research>div
{
	width:100%;
	height:100%;
	position:relative
}
#Research>div>div
{
	position:absolute;
	bottom:0;
	height : 90%;
	width:25%;
}
#Research>div>div>img
{
	height:100%;
}
#Research>div>div>img.Decalage
{
	margin-left: 12%;
}
#Research input[type=text]
{
	width : 100%;
	padding:5px;
	padding-left:10%;
	margin-left:15%;
}
#P_Boutons
{
	position : absolute;
	left:60px;
	z-index:2;
}
#Connexion,#Inscription
{
	width : 100%;
	max-width : 800px;
	text-align:center;
}
#Connexion ul,#Connexion ul>li ,#Inscription ul,#Inscription ul>li 
{
	text-align:inherit;
}
#Connexion ul>li ,#Inscription ul>li 
{
	margin-top:0px;
	margin-bottom:0px;
}
#Connexion input,#Inscription input
{
	padding:10px;
	width : 100%;
	max-width : 300px;
	font-size:0.8em;
}
#Connexion input[type=text],#Inscription input[type="text"],
#Connexion input[type=password],#Inscription input[type="password"]
{
	border-bottom: 2px solid;
}

#P_1
{
	z-index:3;
}
#P_1 >.Container>div>h2
{
	font-size:1.5em;

}
#P_0 >.Container>img
{
	width: auto;
    height: auto;
    max-height: 50%;
    min-width: 75px;
    min-height: 75px;

}
#P_0 >.Container>a
{
	padding : 2px;
	font-weight:bold;
}
#P_0 >.Container>.Preview 
{
    font-size: 0.7em;
	height:25px;
}
#Paypal
{
	text-align:right;
	max-width: 625px;
    margin: 0 auto;
}
#Paypal input
{
	border:none;
}
#container
{
	width: 100%;
    max-width: 500px;
}
#Book_Container
{
	width: 100%;
    /*padding: 50px;*/
}
#book
{
	margin : 0 auto;
}
.Planche
{
	width : 100%;
	height: 100%;
	padding-bottom:50px;
	overflow : hidden;
	position : absolute;
	top:0%;
	z-index:1;
}

.Planche > .Container
{
	margin:0 auto;
	position : relative;
	height : 100%;
	width:100%;
	display:inline-block;
	vertical-align:middle;
	min-height:600px;
	min-width:800px;
	height:100%;	
	max-width:1200px;
}
.Planche >.Container>h2
{
	padding-top: 70px;
}
.Planche >.Container>div>p
{
	width: 100%;
    max-width: 750px;
	line-height:1.5em;
	margin : 0 auto;
	margin-top:1em;
}


.Planche >  .Container > .Logo
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: absolute;
    right: 90px;
    bottom: 10px;
    margin-bottom: 0px;
    width: 15%;
    height: 25%;
    max-width: 100px;
    max-height: 100px;
    min-width: 75px;
    min-height: 75px;
}
.Planche > .Container > .Preview
{
	bottom :-50px;
	height:50px;
	position : absolute;
	width : 100%;
	line-height: 2.2em;
	cursor:pointer;
}
.Planche > .Container > .Preview > img
{
	position: absolute;
    bottom: 25px;
	height:100%;
}
.Planche > .Container > .Preview
{
	/*font-weight:bold;*/
}
/* Auteur original : Tobias Ahlin */
.sk-circle 
{
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
}
.sk-circle.Center
{
  margin: 0 auto;
  width: 160px;
  height: 160px;
  position: absolute;
}
.sk-circle .sk-child 
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before 
{
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  border-radius: 100%;
}
/*Fin auteur*/
/* Ne concerne que la dernière planche */

/*

.Planche.Last
{
	padding-bottom:0px;
}
.Planche.Last > .Container
{
	margin-top : 0px;
}
.Planche.Last>  .Container > .Logo
{    
    margin-bottom: 0px;
}
.Planche.Last > .Container > .Preview
{
	bottom :0;
}*/
.Nav
{
	width: 7%;
    max-width: 100px;
    min-width: 25px;
}
.Nav li
{
	height: 75px;
}
.Nav li>input
{
	border:none;
	width : 100%
}

.Interface
{
	z-index:4;
}
.wowbook-page-content.content
{
	font-size: 0.8em;
}
.wowbook-page-content.content>p,.wowbook-page-content.content>h2,.wowbook-page-content.content>h3
{
	width:90%;
	padding-left:10%;
	font-family: 'Stempel-Garamond-W01-Roman';
}
.wowbook-page-content.content>p
{
	padding-top : 1em;
}
.wowbook-page-content.content>p.Poeme
{
	font-size : 0.8em;
}
.wowbook-page-content.content>h3
{
	font-size : 1.5em;
}
.wowbook-page-content.content  .DateFont
{
	font-family: 'JennaSue';
	font-size : 1.5em;
}
.wowbook-page-content.content>p>img
{
	display: block;
    max-width: 90%;
    max-height: 300px;
    width: auto;
    height: auto;
	margin : 0 auto;
}
/* Plugins */
.picker__select--month, .picker__select--year
 {    
    height: inherit;
}

.Top_0
{
	position : absolute;
	top:0%;
}
.Top_10
{
	position : absolute;
	top:10%;
}
.Bottom_0
{
	position : absolute;
	bottom:0%;
}
.Bottom_15
{
	position : absolute;
	bottom:15%;
}
.Bottom_10px
{
	position : absolute;
	bottom:10px;
}
.Left_0
{
	position : absolute;
	left:0%;
}
.Left_10
{
	position : absolute;
	left:10%;
}
.Left_20
{
	position : absolute;
	left:20%;
}
.Left_35
{
	position : absolute;
	left:35%;
}
.Right_0
{
	position : absolute;
	right:0%;
}
.Right_20
{
	position : absolute;
	right:20%;
}
.Right_35
{
	position : absolute;
	right:35%;
}
.Center, .CenterX
{
	position:absolute;
	left : 50%;
}
.Center, .CenterY
{
	position:absolute;
	top : 50%;
}
.left
{
	text-align:left;
}
.Bold
{
	font-weight:bold;
}
.Table
{
	display: table;
}
.TableCell
{
	display: table-cell;
    vertical-align: middle;
}
@-moz-document url-prefix() 
{
  #Book_Container
	{
		width: 100%;
		padding-top: 10px;
		padding-left: 20px;
	}
}
@media (max-height :870px) AND (min-height:841px )
{
	
}
@media (max-height :840px )
{
	.Planche >.Container
	{
		line-height:1em;
	}
	.Planche >.Container>h2 {
		padding-top: 10px;
		line-height:1em;
	}
}
